<header class="bg-gray-800 py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <a href="/" class="text-3xl font-bold text-white">WiseCartel</a>
    <nav class="hidden lg:flex items-center font-bold text-white">
      <a class="px-4 hover:text-gray-400" href="/finance">Finance</a>
      <a class="px-4 hover:text-gray-400" href="/motivational">Motivational</a>
      <a class="px-4 hover:text-gray-400" href="/tech">Men</a>
      <a class="px-4 hover:text-gray-400" href="/politics">Fitness</a>
      <a class="px-4 hover:text-gray-400" href="/entertainment">Nutrition</a>
      <a class="px-4 hover:text-gray-400" href="/sports">Gospel</a>
    </nav>
    <div class="lg:hidden text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/></svg>
    </div>
  </div>
</header>
