<header class="bg-gray-800 py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <a href="/" class="text-3xl font-bold text-white">PowerTweets</a>
    <nav class="flex items-center font-bold text-white">
      <a class="px-4 hover:text-gray-400" href="/finance">Finance</a>
      <a class="px-4 hover:text-gray-400" href="/motivational">Motivational</a>
      <a class="px-4 hover:text-gray-400" href="/tech">Men</a>
      <a class="px-4 hover:text-gray-400" href="/politics">Fitness</a>
      <a class="px-4 hover:text-gray-400" href="/entertainment">Nutrition</a>
      <a class="px-4 hover:text-gray-400" href="/sports">Gospel</a>
    </nav>
  </div>
</header>
