---
import pages from '../../../output.json';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  // const pages = [
  //   {
  //     slug: "today-s-motivational-must-read-top-340-quotes",
  //     title: "Astro products",
  //     text: "We have lots of products for you",
  //     username:'test',
  //   },
  // ];
  return pages.map(({ slug, title, data }) => {
    return {
      params: { slug },
      props: { title, data },
    };
  });
}

const { title, text, data } = Astro.props;
---

<Layout title={title}>
  <main
    class="flex flex-wrap lg:flex-nowrap py-10 px-4 container mx-auto lg:px-10 gap-6"
  >
    <section class="w-2/3 mx-auto">
      <!-- component -->
      <div class="flex items-center w-full justify-center px-6 py-10">
        <div class="flex flex-col brder gap-4 rounded-lg flex-none w-full">
          <h2 set:text={title} class="text-2xl lg:text-4xl font-bold" />
          <div class="flex flex-col gap-10">
            {
              data.map((item: String) => {
                return (
                  <div class="bg-white shadow-md flex rounded-lg p-6 mb-4 flex flex-col md:flex-row">
                    <blockquote
                      id="block-quote"
                      class="text-gray-700 text-xl font-light leading-normal flex-grow"
                    >
                      {item}
                    </blockquote>
                    <div class="">
                      <button
                        onclick={`copyToClipboard('${item}')`}
                        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-full mt-4 block"
                      >
                        Copy
                      </button>
                    </div>
                  </div>
                );
              })
            }

            <!-- Item -->
          </div>
          <div class="p-4">
            <button
              class="w-full border p-2 rounded-md hover:opacity-60 transition"
              >View all</button
            >
          </div>
        </div>
      </div>
    </section>

    <script is:inline>
      function copyToClipboard(text) {
        const el = document.createElement('textarea');
        el.value = text;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        alert('Copied to clipboard!');
      }
    </script>

    <div class="w-full lg:w-1/3">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"
      ></script><iframe
        src="https://donorbox.org/embed/dev-and-hosting?default_interval=m"
        name="donorbox"
        allowpaymentrequest="allowpaymentrequest"
        seamless="seamless"
        frameborder="0"
        scrolling="no"
        height="900px"
        width="100%"
        style="max-width: 500px; min-width: 250px; max-height:none!important"
      ></iframe>
    </div>
  </main>
</Layout>
